# Dependencies
node_modules/

# Expo / build artifacts
.expo/
dist/
web-build/
expo-env.d.ts

# Local env files
.env
.env*.local

# Native generated folders
ios/
android/

# Logs and debug
npm-debug.*
yarn-debug.*
yarn-error.*

# Editor / OS noise
.DS_Store
.vscode/

# TypeScript cache
*.tsbuildinfo
